
---
- hosts: localhost
  gather_facts: no
  tasks:
    - name: Create Helm values file dynamically
      copy:
        dest: /tmp/values.yaml
        content: |
          s3Bucket: "Torque Project"
          torqueOutput: "Nikhil Amraotkar"

    - name: Install Helm chart with hardcoded values
      command: >
        helm upgrade --install my-release my-chart
        --namespace default
        -f /tmp/values.yaml

    - name: Get Helm release status
      command: helm status my-release --namespace default
      register: helm_output

    - set_fact:
        helm_status: "{{ helm_output.stdout }}"
