
tasks:
  - name: Create Helm values file dynamically
    copy:
      dest: /tmp/values.yaml
      content: |
        s3Bucket: {{ s3_bucket }}
        torqueOutput: {{ torque_data }}

  - name: Install Helm chart with dynamic values
    command: >
      helm upgrade --install {{ release_name }} {{ chart_name }}
      --namespace {{ namespace }} -f /tmp/values.yaml
