<!DOCTYPE html>
<html>
<head>
    <title>Grain Outputs</title>
</head>
<body>
    <h1>Generated Links</h1>
    <p>S3 Bucket: https://{{ bucket_name }}.s3.amazonaws.com</p>
    <p>Torque Output: {{ torque_output }}</p>
</body>
</html>
