---
- name: Generate HTML file with Grain Outputs
  hosts: localhost
  gather_facts: no
  vars:
    bucket_name: "{{ bucket_name }}"
    torque_output: "{{ torque_output }}"
    output_dir: "/home/root/tmp-storage/output"
    final_dir: "/home/root/tmp-storage/acc2899/workspace/repository/terraform-s3-bucket/finaloutput"
  tasks:
    - name: Ensure output directory exists
      file:
        path: "{{ output_dir }}"
        state: directory
        mode: '0755'

    - name: Create HTML file with URLs
      copy:
        dest: "{{ output_dir }}/index.html"
        content: |
          <!DOCTYPE html>
          <html>
          <head>
            <title>Grain Outputs</title>
          </head>
          <body>
            <h1>Deployment Details</h1>
            <p><strong>S3 Bucket:</strong> {{ bucket_name }}</p>
            <p><strong>Torque Output:</strong> <a href="{{ torque_output }}"output }}</a></p>
          </body>
          </html>

    - name: Ensure destination directory exists
      file:
        path: "{{ final_dir }}"
        state: directory
        mode: '0755'

    - name: Copy file to repo folder
      copy:
        src: "{{ output_dir }}/index.html"
        dest: "{{ final_dir }}/index.html"
