
---
- name: Generate HTML file with dynamic values
  hosts: localhost
  gather_facts: no
  vars:
    output_dir: "terraform-s3-bucket/finaloutput"
  tasks:
    - name: Ensure destination directory exists
      file:
        path: "{{ output_dir }}"
        state: directory
        mode: '0755'

    - name: Create HTML file with dynamic values
      copy:
        dest: "{{ output_dir }}/file.html"
        content: |
          <!DOCTYPE html>
          <html>
          <head>
            <title>Grain Outputs</title>
          </head>
          <body>
            <h1>Deployment Details</h1>
            <p><strong>S3 Bucket:</strong> {{ bucket_name }}</p>
            <p><strong>Torque Output:</strong> {{ torque_output }}{{ torque_output }}</a></p>
          </body>
          </html>
